<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oranth.mapper.ProductsMapper">
	<resultMap id="BaseResultMap" type="com.oranth.bean.Products">
		<id column="prod_id" jdbcType="INTEGER" property="prod_id" />
		<result column="prod_name" jdbcType="VARCHAR"
			property="prod_name" />
		<result column="prod_type" jdbcType="VARCHAR"
			property="prod_type" />
		<result column="prod_price" jdbcType="DOUBLE"
			property="prod_price" />
		<result column="prod_number" jdbcType="INTEGER"
			property="prod_number" />
		<result column="prod_flat" jdbcType="INTEGER"
			property="prod_flat" />
		<result column="prod_pic" jdbcType="INTEGER"
			property="prod_pic" />
	</resultMap>
	<sql id="Base_Column_List">
		prod_id, prod_name, prod_type, prod_price,prod_number,prod_flat,prod_pic
	</sql>
	<!-- getAll -->
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from products
	</select>
	<!-- getProductsByProdId -->
	<select id="getProductsByProdId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from products
		where prod_id=#{prod_id}
	</select>
	<!-- getProductsByProdName -->
	<select id="getProductsByProdName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from products
		where prod_name=#{prod_name}
	</select>
	<!-- addProduct -->
	<insert id="addProduct" parameterType="com.oranth.bean.Products">
		insert into products
		(prod_name, prod_type, prod_price,prod_number,prod_flat,prod_pic)
		values (#{prod_name},
		#{prod_type},#{prod_price},#{prod_number},#{prod_flat},#{prod_pic})
	</insert>
	<!-- delProduct -->
	<delete id="delProduct" parameterType="java.lang.Integer">
		delete
		from products
		where prod_id=#{prod_id}
	</delete>
	<!-- editProducts -->
	<update id="editProducts" parameterType="com.oranth.bean.Products">
		update
		products
		set
		prod_name = #{prod_name},
		prod_type =#{prod_type},
		prod_price = #{prod_price},
		prod_number =#{prod_number},
		prod_flat = #{prod_flat},
		prod_pic=#{prod_pic}
		where prod_id=#{prod_id}
	</update>
</mapper>