<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oranth.mapper.SysModleMapper">
	<resultMap id="BaseResultMap" type="com.oranth.bean.SysModle">
		<id column="right_code" jdbcType="VARCHAR" property="right_code" />
		<result column="right_parent_code" jdbcType="VARCHAR" property="right_parent_code" />
		<result column="right_type" jdbcType="VARCHAR" property="right_type" />
		<result column="right_url" jdbcType="VARCHAR" property="right_url" />
		<result column="right_order" jdbcType="INTEGER" property="right_order" />
		<result column="right_tip" jdbcType="VARCHAR" property="right_tip" />
		<result column="right_text" jdbcType="VARCHAR" property="right_text" />
	</resultMap>
	<sql id="Base_Column_List">
		right_code, right_parent_code, right_type, right_url,
		right_order, right_tip, right_text
	</sql>
	<!-- getAll -->
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_modle
	</select>
	<!-- getSysModleByRightCode -->
	<select id="getSysModleByRightCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_modle
		where right_code=#{right_code}
	</select>
	<!-- getSysModleByRightParentCode -->
	<select id="getSysModleByRightParentCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_modle
		where right_parent_code=#{right_parent_code}
	</select>
	<!-- addSysModle -->
	<insert id="addSysModle" parameterType="com.oranth.bean.SysModle">
		insert into sys_modle
		(right_code, right_parent_code, right_type,
		right_url, right_order,
		right_tip,right_text)
		values (#{right_code},
		#{right_parent_code},#{right_type},
		#{right_url},#{right_order},
		#{right_tip},#{right_text})
	</insert>
	<!-- delSysModle -->
	<delete id="delSysModle" parameterType="java.lang.String">
		delete
		from sys_modle
		where right_code=#{right_code}
	</delete>
	<!-- editSysModle -->
	<update id="editSysModle" parameterType="com.oranth.bean.SysModle">
		update
		sys_modle
		set
		right_parent_code = #{right_parent_code},
		right_type =#{right_type},
		right_url = #{right_url},
		right_tip =#{right_tip},
		right_text = #{right_text}
		where right_code =#{right_code}
	</update>
	<!-- getSysModleByUserId -->
	<select id="getSysModleByUserId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_modle where right_code in
		(SELECT right_code FROM
		sys_role_modle where role_id =(select role_id FROM
		sys_user_role where
		user_id=#{user_id}))
	</select>
	<!-- getMenus -->
	<select id="getMenus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_modle
		where right_parent_code='-1'
	</select>
	<!-- getAllSysRoleModle -->
	<select id="getAllSysRoleModle" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_modle where right_code in
		(select right_code FROM
		sys_role_modle where role_id=#{role_id})
	</select>
</mapper>