<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oranth.mapper.SysRoleModleMapper">
	<resultMap id="BaseResultMap" type="com.oranth.bean.SysRoleModle">
		<id column="role_id" jdbcType="INTEGER" property="role_id" />
		<result column="right_code" jdbcType="VARCHAR" property="right_code" />
	</resultMap>
	<sql id="Base_Column_List">
		role_id, right_code
	</sql>
	<!-- getAll -->
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_modle
	</select>
	<!-- getSysRoleModleByRoleId -->
	<select id="getSysRoleModleByRoleId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_modle
		where role_id = #{role_id}
	</select>
	<!-- addSysRoleModle -->
	<insert id="addSysRoleModle" parameterType="com.oranth.bean.SysRoleModle">
		insert into
		sys_role_modle (role_id,right_code)
		values (#{role_id}, #{right_code})
	</insert>
	<!-- delSysRoleModle -->
	<delete id="delSysRoleModle" parameterType="java.lang.Integer">
		delete from
		sys_role_modle
		where role_id = #{role_id}
	</delete>
	<!-- editSysRoleModle -->
	<update id="editSysRoleModle" parameterType="com.oranth.bean.SysRoleModle">
		update
		sys_role_modle
		set right_code = #{right_code}
		where role_id = #{role_id}
	</update>
</mapper>